# OpenAI
OPENAI_API_KEY=

# LangChain / LangSmith
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=chatbot-project

# Tavily
TAVILY_API_KEY=

# Google
GOOGLE_API_KEY=
