# Virtual environments
.env
.venv
venv

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# personal files
ayush.txt

*.db*